.lmj-banner {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: black;
}

.lmj-title {
    position: relative;
    text-align: center;
    color: aqua;
    font-size: 36px;
    font-weight: bold;
}