.lmj-banner {
    color: black;
    text-align: right;
    padding: 32px;        
    border-bottom: solid 3px rgb(172, 211, 255);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: rgb(178, 216, 250);
    height: min-content;
}

.lmj-title {
    
}
.lmj-logo{
    height: 80px;
    width: 45px;
}